body
{
    background-color: #faefe3;
    font-family: Arial, Helvetica, sans-serif;
    
}

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

menu
{
    background: rgb(20, 34, 46);
    height: 200px;
    margin-bottom: 50px;
    

}


menu ul
{
    float:right;
    margin-right: 40px;
}
menu ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 30px;
}
menu ul li p
{
    color: white;
    font-size: 30px;
    padding: 0px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 30px;
}


p:hover
{
    color: #d84603;
    transition: .5s
}

#container {
    margin-top: 150px;
    display: flex;
}
#container2 {
    margin-top: 150px;
    display: flex;
}
#container3 {
    margin-top: 150px;
    display: flex;
}
#P1
{
    font-size: 20px;
}

.paragraph5
{
    position: absolute;
    bottom: 8px;
    left: 200px;
    display: flex;
    font-size: 40px;
}

#paragraph5
{
    position: absolute;
    bottom: 8px;
    left: 120px;
    display: flex;
    font-size: 40px;
    color: rgb(255, 255, 255);
}




/*#image1:hover
{
    transition: .5s
}*/
#container:hover
{
    transform: scale(1.01);
    opacity: 0.8;
    transition: .5s
}
#container2:hover
{
    transform: scale(1.01);
    opacity: 0.8;
    transition: .5s
}
.container5:hover
{
    transform: scale(1.01);
    opacity: 0.8;
    transition: .5s
}
.container12:hover
{
    transform: scale(1.01);
    opacity: 0.8;
    transition: .5s
}

#logo
{
    margin-left: 100px;
    margin-top: 20px;
    width: 400px;
}
#image1
{
    margin-left: 200px;
    margin-right: 0px;
    width: 350px;
}
#image2
{
    margin-left: 100px;
    margin-right:100px;
    width: 550px;
    border-style: solid;
    border-color: #000000;
}
#image3
{
    margin-left: 100px;
    margin-right:100px;
    width: 400px;
    border-style: solid;
    border-color: #000000;
}


#menu2
{
    background: rgb(20, 34, 46);
    height: 300px;
    

}
#latestNews
{
    margin-left: 50px;
    font-size: 90px;
    font-weight: bold;
}
#border
{
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(20, 34, 46);
}
.paragraph2
{
    position: absolute;
    bottom: 8px;
    left: 120px;
    display: flex;
    font-size: 80px;
}


.container12 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    display: flex;
    
    
  }
  .container5 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    display: flex;
  }
  .container3 {
    margin-top: 20px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    display: flex;
  }
  
#p3
{
    margin-left: 30px;
    font-size: 27px;
    color: white;
}
#logo2
{
    margin-left: 1000px;
    margin-top: 20px;
    width: 400px;

}
#paragraph1
{
    position: absolute;
    bottom: 100px;
    left: 120px;
    display: flex;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#paragraph2
{
    position: absolute;
    bottom: 30px;
    left: 106px;
    display: flex;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
#paragraph3
{
    position: absolute;
    bottom: 100px;
    left: 106px;
    display: flex;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
#paragraph4
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#paragraph5
{
    position: absolute;
    bottom: 100px;
    left: 120px;
    display: flex;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#paragraph6
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#paragraph7
{
    position: absolute;
    bottom: 130px;
    left: 120px;
    display: flex;
    font-size: 25px;
    color: rgb(70, 92, 218);
}
#paragraph8
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 25px;
    color: rgb(70, 92, 218);
}
#paragraph9
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 25px;
    color: rgb(70, 92, 218);
}
#paragraph10
{
    position: absolute;
    bottom: 80px;
    left: 110px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph11
{
    position: absolute;
    bottom: 30px;
    left: 110px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph12
{
    position: absolute;
    bottom: 130px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph13
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph14
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph15
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 123, 0);
}
#paragraph16
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 123, 0);
}
#paragraph17
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph18
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph19
{
    position: absolute;
    bottom: 130px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph20
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph21
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph22
{
    position: absolute;
    bottom: 130px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph23
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph24
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#paragraph25
{
    position: absolute;
    bottom: 180px;
    left: 120px;
    display: flex;
    font-size: 27px;
    color: rgb(75, 192, 176);
}
#paragraph26
{
    position: absolute;
    bottom: 130px;
    left: 120px;
    display: flex;
    font-size: 27px;
    color: rgb(75, 192, 176);
}
#paragraph27
{
    position: absolute;
    bottom: 80px;
    left: 120px;
    display: flex;
    font-size: 27px;
    color: rgb(75, 192, 176);
}
#paragraph28
{
    position: absolute;
    bottom: 30px;
    left: 120px;
    display: flex;
    font-size: 27px;
    color: rgb(75, 192, 176);
}
#CreditsParagraph
{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
}
#AboutParagraph
{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
}
#FeedbackParagraph
{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
}